.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.log-bt{
    background-color: rgb(0, 123, 255);
    font-size: 1.0rem;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: white;
    border:none;
    box-shadow: 5px;
    cursor: pointer;
}