.inputs{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.input1{
    width: 300px;
    padding: 12px 17px;
    border-radius: 5px;
    font-size: 1.0rem;
}
.img-pos{
    width: 20px;
    position: absolute;
    transform: translateX(303px);
    top: 23.5%;
    cursor: pointer;
}