body{
    margin-top: 0px;
    margin-bottom: 0px;
}
.send-btn{
    background-color: rgb(12, 199, 12);
}
  
.body{  
    display: flex;  
    flex-direction: column;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    height: 100vh;
}

.label2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    padding: 15px;
    border: 2px solid;
    border-radius: 30px;
    border-width: 1px;
    margin-bottom: 45px;
    
}
.label1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    padding: 15px;
    border: 1px solid;
    border-radius: 30px;
    margin-bottom: 40px; /* reduce this */
    transform: translateY(-380px); /* smoothly moves up */
}

.user-class{
    display: flex;
    justify-content: end;
    align-items: start;
}
.robot-class{
    display: flex;
    align-items: start;
}
.content-message{
    background-color: rgb(238, 238, 238);
    padding: 15px 15px;
    border-radius: 30px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    max-width: 300px;
}
.chat-message-profile{
    width: 45px;
}
.chatbody-container{  
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 13px;
    overflow: scroll;
    scrollbar-width: none;
}
.titlechatbox{
   text-align: center;
   font-size: 1.6rem;
   font-family: Arial;
   color: rgb(91, 86, 80);
   margin-bottom: 400px;
}
.visibility{
    display: none;
}